/* You can add global styles to this file, and also import other style files */
:root {
	--bg-color: #0F082C;
	--bg-color-light: #1e1a2c;
	--color-primary: #0F082C;
	--color-secondary: white;
	--color-hover: #A972FF;

	--color-btn: #1CB4FF;
	--color-bueno: #4AD9C1;
	--color-error: #E81C6F;
}

html {
  box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background-color: #e2e2e2;
	color: var(--font-primary);
	overflow-y: hidden;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;

	&:visited {
		color: inherit;
	}
}

//Formularios

legend {
	text-align: center;
}

.form-field {
	margin-bottom: 10px;

	label {
		&.block {
			display: block;
			margin-bottom: 5px;
		}

		&.inline {
			display: inline-block;
		}
	}

	input[type=text] {
		width: 100%;
		height: 40px;
	}

	&__checkbox {
		width: fit-content;
		padding: 5px 10px;
		display: flex;
		align-items: center;

		input {
			margin-left: 5px;
			width: 20px;
			height: 20px;
			accent-color: var(--color-hover);
		}
	}
}

button {
	background-color: var(--color-btn);
	color: var(--color-secondary);
	border: none;
	padding: 10px 20px;
	display: block;
	border-radius: 10px;
	transition: all 0.3s ease;

	&:hover {
		opacity: .5;
	}
}

// Iconos

i {
	transition: all .3s ease;
	display: block;

	&.normal {
		color: var(--color-btn);
	}
	&.editar {
		color: var(--color-bueno);
	}
	&.eliminar {
		color: var(--color-error);
	}	
	&:hover {
		opacity: .5;
	}
}

// Material
.mat-dialog-container {
	border-radius: 10px !important;
}

// Scrollable
.scrollable {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
	padding-left: 5px;
	padding-right: 5px;

  &::-webkit-scrollbar {
    width: .5rem;
    background-color: rgb(226, 226, 226);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(189, 189, 189);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  // &::-webkit-scrollbar-thumb:window-inactive {
  //   background: grey;
  // }
}
