.menu {
	height: 100vh;
	width: 250px;
	background-color: var(--bg-color);
	color: var(--color-secondary);
	position: relative;

	&__title {
		padding: 10px 20px;
		margin-bottom: 20px;
		text-align: center;
		border-bottom: 3px solid var(--color-hover);
		letter-spacing: 1px;
	}

	&__link {
		display: block;
		text-align: center;
		padding: 20px 20px;
		font-size: 20px;
		letter-spacing: 1px;
		transition: all 0.3s ease;

		&:hover {
			color: var(--color-hover);
			background-color: var(--bg-color-light);
		}
	}

	.btn-nueva-categoria {
		background-color: var(--color-btn);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 20px;
		position: absolute;
		bottom: 10px;
		right: 20px;
	}
}